<article class="post">
  <header>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
  </header>
  <div class="post__body">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam doloremque
    praesentium nam mollitia, recusandae asperiores in corporis ut eius
    architecto rerum quae adipisci. Animi, repudiandae aut alias neque ab nemo
    quasi perspiciatis natus odio ad aliquid eos. Illum incidunt perspiciatis
    autem dolorum maxime, repellat facere, quae assumenda adipisci iure
    officiis.
  </div>
</article>
